@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
}

.sliding-cont {
  margin-top: 100px;
}

.sliding-cont img {
  object-fit: cover;
  height: 200px;
}

.shop-now h2 {
  margin: 0;
  font-size: 1.3rem;
  color: black;
  color: rgb(254, 170, 61);
  margin-top: 0px;
  display: flex;
}

.shop-now span {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 18px;
  color: black;
}

.shop-now a {
  margin-top: 13px;
  color: black;
  letter-spacing: 1px;
  font-size: .95rem;
  color: rgb(254, 170, 61);
  display: none;
}

.player-details {
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  position: relative;
  margin-top: -16px;

}

.player-details h3 {
  display: none;
}

.player-details input {
  padding: 18px ;
  border-radius: 5px;
  outline-color: gainsboro;
  border:  2px gainsboro solid;
}

.player-details input::placeholder {
  font-size: .94rem;
  color: rgb(177, 177, 177);
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}

.player-details span {
  color: rgb(254, 170, 61);
  /* color: black; */
  /* color: yellow; */
  position: absolute;
  right: 20px;
  font-size: 1.25rem;
  bottom: 35px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}

.player-details-note {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  color: black;
  display: none;
}

.player-details-note .title {
  display: flex;
}

.player-details-note .title h3, .player-details-note .title h3 a {
  margin: 0;
  width: 50%;
  text-decoration: none;
  color: white;
  color: black;
  /* color: rgb(254, 170, 61); */
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
  /* color: rgb(254, 170, 61); */
}

.player-details-note .title h3:first-child {
  border-bottom:  .05rem solid  rgb(253, 237, 18);
}

.display {

}



.border {
  background: linear-gradient( to right ,black,black, black,black, black);
  height: .04rem;
  width: 100%;
  margin-bottom: 20px;
  display: none;
}

.product-container {
  margin: 0 13px 13px 13px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.product-container .title h3 {
  color: rgb(253, 237, 18);
  /* color: black; */
  color: rgb(254, 170, 61);
  margin: 0;
}


.product-container-top-cont {
  padding: 15px 12px;
  /* background-color: #7E5AB1; */
  background-color: rgb(35, 4, 62);
  border: 2px rgba(136, 131, 140, 0.749)  solid;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 8px;
}

.product-container-top-cont .product-container-row-1 img{
  width: 48px;
}

.product-container-row-2 {
  display: flex;
  flex-direction: column;
}

.product-container-row-2 h4 {
  margin: 0;
}

.row-3 {

}

.product-container-row-3 h5 {
  margin: 0;
  color: yellow;
  color: black;
  font-size: .7rem;
  font-weight: 600;
  cursor: pointer;
}

.product-cont {
  /* background: blue; */
  margin: 0 
}

.product-cont .products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 13px;
  gap: 15px 9px;
  margin-bottom: 20px;
}

.product-cont .products .product {
  display: flex;
  flex-direction: column;
  color: white;
  color: black;
  border: 2px solid rgb(125, 125, 125);
  align-items: center;
  height: 200px;
  justify-content: space-between;
  padding-top: 15px;
  /* background-color: rgb(39, 9; */
  height: fit-content;
  border-radius: 5px;
}

.product-cont .products .product:nth-child(5), .product-cont .products .product:nth-child(6), .product-cont .products .product:nth-child(7), .product-cont .products .product:nth-child(8) {
  background-color: transparent;
}

.product-cont .products  .product .cp{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 9px;
}

.product-cont .products  .product .cp span {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product-cont .products  .product img {
  width: 95%;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  object-fit: cover;
  height: 130px;
}

.product-cont .products  .product .price {
  background-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-cont .products .product:nth-child(5) .price, .product-cont .products .product:nth-child(6) .price, .product-cont .products .product:nth-child(7) .price, .product-cont .products .product:nth-child(8) .price {
  background-color: transparent;
  color: black;
  padding: 10px;
  font-weight: 400;
}


.product-cont .products  .product .price span:first-child {
  text-decoration: line-through;
}

.product-cont .products  .product .price span:last-child {
  font-weight: 600;
  font-size: 1.15rem;
}

.border:nth-child(2) {
  margin-bottom: 40px;
}

.more-product {
  color: rgb(253, 237, 18);
  color: black;
  text-align: center;
  margin-bottom: 18px;
  margin-top: -15px;
  display: block;
  color: rgb(254, 170, 61);
}

.payment-method {
  padding: 18px;
  display: none;
}

.payment-method .title h3 {
  color: rgb(253, 237, 18);
  margin: 0;
  color: black;
}

.methods {
  display: flex;
  flex-direction: column;
  color: white;
  color: black;
  margin-top: 15px;
  display: none;
  margin-bottom: 12px;
}

.method {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
}

.method:first-child img{
  background: transparent;
}

.method:first-child {
  border-bottom: 0;
}

.method img {
  background-color: white;
  width: 110px;
  padding: 9px;
}

.method h4 {
  margin-right: 10px;
}

.receipt-details {
  padding: 18px;
}

.receipt-details .title h3 {
  margin: 0;
  color: rgb(254, 170, 61);
}

.receipt-details-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  position: relative;
}

.receipt-details-content span {
  color: black;
  
}

.receipt-details-content input {
  padding: 15px;
  border: 2px solid gainsboro;
}

.receipt-details-content input::placeholder {
  font-size: .94rem;
  color: rgb(177, 177, 177);
  font-family: "Roboto Condensed", sans-serif;
}

.receipt-details-content small {
  color: red;
  margin-top: -5px; 
}

.receipt-details-content i {
  position: absolute;
  top: 50%;
  right: 20px;
  color: rgb(254, 170, 61);
  transform: translateY(-50%);
}

.privacy-cond {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.condition {
  display: flex;
  color: white;
  align-items: start;
  column-gap: 2px;
}

.condition span {
  font-size: .82rem;
  letter-spacing: 1px;
}

.term-and-cond {
  display: flex;
  color: white;
  flex-direction: column;
  padding: 18px;
  margin-bottom: 20px;
  margin-top: -18px;
}

.term-and-cond .title {
  font-size: 1.2rem;
  margin-bottom: 13px;
}

.note {
  margin-bottom: 8px;
}

.terms {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.term small{
  /* display: flex;
  flex-direction: column;
  align-items: start; */
  color: red;
  display: block;
  margin-top: 4px;
}

.bottom {
  margin-top: 0px;
}

.pop-order {
  position: fixed;
  bottom: 0;
  background-color: black;
  border-top: 4px solid white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: white;
}

.item h3 {
  color: rgb(253, 237, 18);
}

.pop-order button {
  background-color: rgb(253, 237, 18);
  padding: 18px 40px;
  font-size: 1.1rem;
}

.payment-powered {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.payment-powered img{
  width: 130px;
}


.hide {
  visibility: hidden;
}

.border-px {
  border: 6px solid white;
}